@font-face {
	font-family: 'NBGothic';
	font-style: normal;
	font-weight: 400;
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
	src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
	font-family: 'NSNeo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Rajdhani";
	src: url("assets/fonts/Rajdhani-Medium.ttf");
}

body {
	font-family: "NBGothic";
	font-size: 1.2em;
	color: white;
	margin: 0;
	padding: 0;
	background-color: #313338;
	--main-color: rgb(242, 200, 0);
	width: 100vw;
	height: 100vh;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-thumb {
	border-radius: 16px;
	background-color: #1A1B1E;
}

::-webkit-scrollbar-track {
	border-radius: 16px;
	background-color: #2B2D31;
}

#patchfield::-webkit-scrollbar {
	width: 16px;
}

#patchfield::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
}

#patchfield::-webkit-scrollbar-track {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 16px;
}

a {
	text-decoration: none;
	color: hsl(200 calc(100%) 49.4%/1)
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: none;
}

#header {
	z-index: 2;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 64px;
	background-color: #1a1b1f;
	user-select: none;
}

#header .logo {
	float: left;
	width: 128px;
	height: 100%;
}

#header .logo a {
	display: flex;
	width: 100%;
	height: 100%;
}

#header .button {
	float: right;
	display: flex;
	width: 250px;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#join {
	color: white;
	font-size: 16px;
	font-family: "NSNeo";
	background-color: #5865F2;
	border-radius: 10px;
	border: none;
	width: 220px;
	height: 50px;
	box-sizing: border-box;
	transition: .3s ease;
	padding: 0;
}

#join:hover {
	background-color: #7983e7;
}

#mainContent {
	position: fixed;
	display: flex;
	margin-top: 64px;
	width: 100%;
	height: calc(100vh - 64px);
}

.sidebar {
	font-family: "NSNeo";
	font-weight: normal;
	font-size: 16px;
	width: 250px;
	background-color: #2B2D31;
	user-select: none;
}

#rightSideBar {
	color: rgb(200, 200, 200);
}

#userList .role {
	font-size: 12px;
	padding: 20px;
	padding-bottom: 0;
}

#userList {
	margin: 0;
	padding: 0;
	height: 100%;
	list-style: none;
	overflow: auto;
	flex: 1;
}

#userList li {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
	height: 48px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

#userList .name {
	color: #ffd175;
	margin-left: 10px;
}

#userList img {
	width: 32px;
	border-radius: 100%;
}

#patchList {
	flex: 1;
	padding: 0px;
	margin: 0px;
	height: 100%;
	list-style: none;
	overflow: auto;
}

#patchList ul {
	padding: 0px;
}

#patchList .selected {
	background-color: #404249 !important;
}

#patchList .category {
	color: #999;
	margin: 10px;
	margin-left: 20px;
	font-size: 12px;
}

#patchList li {
	font-family: "Rajdhani";
	font-size: 18px;
	padding: 10px;
	height: 40px;
	margin-left: 10px;
	margin-right: 10px;
	box-sizing: border-box;
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	border-radius: 6px;
}

#patchList li:hover {
	background-color: #35373C;
}

#patchList svg {
	fill: #d4d4d4;
	margin-right: 10px;
}

#patchfield {
	line-height: 150%;
	box-sizing: border-box;
	padding: 20px;
	width: calc(100vw - 500px);
	height: calc(100vh - 64px);
	overflow: auto;
}

#patchfield h3 {
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
}

#patchfield ul ::marker {
	color: var(--main-color);
}

#patchfield ul {
	margin: 0;
	padding-left: 20px;
}

#patchfield md-block>ul {
	padding: 20px;
	padding-left: 40px;
	box-sizing: border-box;
	border: 2px solid #272727;
	background-color: #2B2D31;
	border-radius: 8px;
}

#disqus_thread {
	margin-top: 50px;
}

.burger-check {
	display: none;
}

.ad {
	display: flex;
	justify-content: center;
	align-items: center;
}

#adTop {
	width: 100%;
	height: 90px;
}

#adTopMobile {
	display: none;
	width: 100%;
	height: 50px;
}

@media (max-width: 1000px) {
	body {
		font-size: 0.8em;
	}

	.sidebar {
		transition: .3s ease;
	}

	#mainContent {
		display: block;
	}

	#leftSideBar {
		left: -250px;
		position: fixed;
		z-index: 1;
		height: calc(100vh - 64px);
	}

	#rightSideBar {
		display: none;
	}

	#patchfield {
		width: 100%;
	}

	#header {
		display: flex;
		justify-content: space-between;
	}

	#header .button {
		display: none;
	}

	#header .logo {
		width: 128px;
		float: right;
	}

	#burger {
		display: flex;
		flex: 0 0 64px;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	.burger-sticks {
		background: white;
		display: block;
		height: 4px;
		border-radius: 2px;
		position: relative;
		transition: all .3s ease-out;
		width: 30px;
	}

	.burger-sticks:before, .burger-sticks:after {
		background: white;
		content: '';
		display: block;
		height: 100%;
		border-radius: 2px;
		position: absolute;
		transition: all .3s ease-out;
		width: 100%;
	}

	.burger-sticks:before {
		top: 10px;
	}

	.burger-sticks:after {
		top: -10px;
	}

	#leftSideBar.open {
		left: 0px;
	}

	#burger.active~.burger-sticks {
		background: transparent;
	}

	.burger-check:checked~.burger-icon .burger-sticks:before {
		transform: rotate(-45deg);
	}

	.burger-check:checked~.burger-icon .burger-sticks:after {
		transform: rotate(45deg);
	}

	.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
	.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
		top: 0;
	}

	#adTop {
		display: none;
	}

	#adTopMobile {
		display: flex;
	}
}